[submodule "extra_app/django-social-auth"]
	path = extra_app/django-social-auth
	url = git://github.com/omab/django-social-auth.git
[submodule "extra_app/django-notification"]
	path = extra_app/django-notification
	url = git://github.com/pinax/django-notification.git
[submodule "extra_app/xunlei-lixian"]
	path = extra_app/xunlei-lixian
	url = https://github.com/iambus/xunlei-lixian
