<div class="info-item" data-id="{{ info.id }}">
    <a target="_blank" href="{{ info.douban.alt }}" class="info-average">{{ info.douban.average }}</a>
    <div class="info-border"> </div>
    <div class="info-pic">
        <a ng-href="/#/view/{{ info.sort | lowercase }}/{{ info.id }}"><img ng-src="{{ info.douban.images }}" ></a>
    </div>
    <div class="info-details">
        <a ng-href="/#/view/{{ info.sort | lowercase }}/{{ info.id }}" class="info-title">{{ info.title }}</a>
    </div>
</div>