<div ng-controller="NavCtrl" ng-include="'static/partials/nav.html'"></div>
<div id="info_intro">
    <div class="container">
        <div style=" margin-top: 30px;" class="row">
            <input type="text" ng-model="search.tags" class="pull-right span3 offset9" placeholder="搜索看看？">
        </div>
        <div ng-controller="InfoListCtrl" class="row">
            <div style="width: 72px; margin-left: auto; margin-right: auto; margin-top: 5%;" ng-hide="currentList">
                <i style="font-size: 72px; color: white;" class="icon-refresh icon-spin"></i></div>
            <div ng-repeat="info in currentList | filter:search | orderBy:sortInfo" ng-include="'static/partials/info_item.html'" class="span3">
            </div>
        </div>
    </div>
</div>
