<div ng-controller="NavCtrl" ng-include="'static/partials/nav.html'"></div>
<div class="list_prefer">
    <div class="container">
        <h2 style="font-size: 40px; margin-top: 30px;">我要...<small style="float: right; margin-top: 13px">这是“一键添加”的设置</small></h2>
        <div style="margin-top: 80px" class="row">
            <div class="span3">
                <div ng-click="selectExample('normal')" class="type-in">
                    <h3> <i class="icon icon-dashboard"></i>
                        速度快!</h3>
                    <h4>更新了就下载～<br><small>即使没那么高清</small></h4>
                </div>
            </div>
            <div class="span3">
                <div ng-click="selectExample('clear')" class="type-in">
                    <h3><i class="icon icon-desktop"></i>
                        清晰度!</h3>
                    <h4>质量优先～<br><small>即使没那么快下载</small></h4>
                </div>
            </div>
            <div class="span3">
                <div ng-click="selectExample('learner')" class="type-in">
                    <h3> <i class="icon icon-globe"></i>
                        学外语!</h3>
                    <h4>双语字幕才是最重要的
                        <br><small>别的都随便啦</small></h4>
                </div>
            </div>
            <div class="span3">
                <div ng-click="closeSettings = false" class="type-in">
                    <h3> <i class="icon icon-cogs"></i>
                        自定义!</h3>
                    <h4>让开，让专业的来～
                        <br><small>我New type</small> </h4>
                </div>
            </div>
        </div>
    </div>
    <div ng-init="closeSettings = true" collapse="closeSettings">
    <div style="margin-top: 50px;" class="container">
        <div class="type-select pull-left">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a ng-class="getSortClass('an')" ng-click="sort = 'an'" href="">动画</a>
                    <a ng-class="getSortClass('ep')" ng-click="sort = 'ep'" href="">剧集</a>
                </div>
            </div>
        </div>
        <a ng-click="savePrefer()" style="font-size: 18px; padding: 10px 14px 9px; margin-top: 10px;" class="btn btn-success save-btn pull-right">保存</a>
    </div>
    <hr class="nice-hr container">
    <div class="container">
        <div class="row">
            <accordion ng-model="tagsList[sort]" class="span8">
                <accordion-group ng-repeat="(typeKey,type) in tagsList[sort]" heading="{{ type.0.style | tagStyle }}">
                    <ul style="height: auto;" class="unstyled tagsinput" ng-model="type">
                        <li ng-click="addTag(item);" class="tag" ng-repeat="(key, item) in type"><span>{{ item.title }}</span><a style="margin-left: 5px;" class="icon icon-plus"></a></li>
                    </ul>
                </accordion-group>
            </accordion>
            <div class="span4">
                <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                    <span ui-sortable ng-model="userPrefer[sort]" >
                        <span class="selected-tags" ng-repeat="(key,tag) in userPrefer[sort]">
                            <span ng-click="removeTag(key)" class="tag clearfix">
                                <span>{{ tag.title }}</span><a style="margin-left: 5px;" class="icon icon-minus"></a></span>
                        </span>
                    </span>
                    <div class="tagsinput-add-container">
                        <input placeholder="直接搜索添加" type="text" ng-model="searchInput" style="width: auto; border: 2px solid #DCE4EC; padding: 2px 0 2px 5px;">
                        <ul ng-show="!!searchInput" class="typeahead dropdown-menu tag-search">
                            <li ng-click="addTag(tag);" ng-repeat="tag in searchTags(sort, searchInput)"><a href="">{{ tag.title }}</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>