<div ng-controller="NavCtrl" ng-include="'static/partials/nav.html'"></div>
<div class="list_prefer">
    <div class="container">
        <div class="type-select pull-left">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary active" ng-click="sort = 'an'" href="">动画</a>
                    <a class="btn btn-primary" ng-click="sort = 'ep'" href="">剧集</a>
                </div>
            </div>
        </div>
        <a ng-init="sort = 'an'" style="font-size: 18px; padding: 10px 14px 9px; margin-top: 10px;" class="btn btn-success save-btn pull-right">保存</a>
    </div>
    <hr class="nice-hr container">
    <div class="container p-container an">
        <div ng-model="tagsList[sort]" class="row p-sort">
            <div ng-repeat="(typeKey,type) in tagsList[sort]" class="p-tags span3">
                <div class="styles">
                    <h4 style="text-align: center">{{ typeKey | tagStyle }}</h4>
                    <ul ui-sortable ng-model="type" class="unstyled tagsinput" style="height: auto;">
                        <li ng-repeat="(key, item) in type" >
                            <span class="tag">
                                <span> {{ item.title }} </span>
                                <a class="tagsinput-remove-link fui-menu-16"></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
