<div class="header-container clearfix">
    <div class="container">
        <header class="wrapper clearfix">
            <div style="position: relative;" class="row">
                {% block logo %}
                    <a href="/" id="logo" class="span3"><h1>星祈娘</h1></a>
                {% endblock logo %}
                <div style="margin-top: 12px;" class="span9">
                    {% block nav %}
                        <nav>
                            <a class="link" href="/list/an"><i class="icon icon-rocket"></i> 动画</a>
                            <a class="link" href="/list/ep"><i class="icon icon-plane"></i> 剧集</a>
                            <a>|</a>
                            {% if user.is_authenticated %}
                                <a class="link" href="/accounts/" ><i class="icon icon-rss"></i> 我的订阅 </a>
                                <a class="link nav-username" href="#" ><i class="icon icon-user"></i>  {{ user.username }} </a>
                                <a class="link nav-logout" href="{% url 'django.contrib.auth.views.logout' %}" ><i class="icon icon-signout"></i> 退出 </a>
                            {% else %}
                                <a class="link nav-login" href="#" ><i class="icon icon-signin"></i> 登录</a>
                                <a class="link nav-reg" href="#" ><i class="icon icon-bullseye"></i> 注册</a>
                            {% endif %}
                        </nav>
                    {% endblock nav %}
                </div>
                <div class="span3 index-upper-login">
                    {% include 'front_end/login_form.html' with login_id="top" %}
                </div>
                <div class="span3 index-upper-reg">
                    {% include 'front_end/reg_form.html' with reg_id="top" %}
                </div>
            </div>
        </header>
    </div>
</div>
