.header-container .span3 h2 {
  margin-left: 38px;
}
.home-hero {
  position: relative;
  height: 100%;
}
.home-hero .outer-main-container {
  position: relative;
}
.home-hero .outer-main-container .home-hero-image {
  display: block;
  z-index: -9999;
  height: auto;
  width: 100%;
}
.home-hero .outer-main-container .main-container #time-line {
  padding-top: 30px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
}
.home-hero .outer-main-container .main-container #time-line .v-line {
  margin-left: 20px;
  border-left: 2px solid #7F8C8D;
  min-height: 300px;
}
.home-hero .outer-main-container .main-container #time-line .v-line .time-line-item {
  margin-left: -20px;
  margin-bottom: 50px;
}
.home-hero .outer-main-container .main-container #time-line .v-line .time-line-item .left-icon {
  background-color: white;
  color: #16A085;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 8px 4px 3px 8px;
  border: 2px solid #95A5A6;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.home-hero .outer-main-container .main-container #time-line .v-line .time-line-item .left-icon span {
  padding-left: 2px;
}
.home-hero .outer-main-container .main-container #time-line .v-line .time-line-item .titles {
  font-size: 16px;
  margin-left: 5px;
}
