<form ng-show="login.show" method="post" class="login-form-new">
    <h4>我回来啦</h4>
    <div class="control-group">
        <div class="input-icon">
            <i class="icon icon-user"></i>
            <input ng-model="login.username" name="username" type="text" class="login-field" value="" placeholder="用户名" id="login-name">
        </div>
    </div>
    <div class="control-group">
        <div class="input-icon">
            <i class="icon icon-key"></i>
            <input ng-model="login.password" name="password" type="password" class="login-field" value="" placeholder="密码" id="login-pass">
        </div>
    </div>
    <label class="checkbox checked hide" for="login-remember-{{ login.login_id }}"><span class="icon"></span><span class="icon-to-fade"></span>
        <input class="login-remember" name="remember_me" type="checkbox" value="checked" id="login-remember-{{ login.login_id }}">
        记住我
    </label>
    <button type="btn" ng-click="login.loginSubmit()" class="login-btn btn btn-primary btn-large btn-block">登录</button>
    <div ng-hide="login.status" style="margin-top: 10px; margin-bottom: 5px;" class="alert">用户名或密码错误</div>
</form>
