body {
  letter-spacing: 1px;
  background-color: #ecf0f1;
}
.home-hero {
  position: relative;
  height: 100%;
  background-image: url(/static/images/qwz.jpg);
  background-position: center center;
  background-size: cover;
}
.home-hero .header-container {
  height: 54px;
}
.home-hero .header-container h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: -40px;
  width: 140px;
  text-align: center;
  background-color: #34495e;
  color: #ecf0f1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.home-hero .header-container .span9 nav {
  float: right;
}
.home-hero .header-container .span9 nav a {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 16px;
  color: #ecf0f1;
  text-decoration: none;
}
.home-hero .hero-unit-container {
  position: relative;
}
.home-hero .hero-unit-container .row .span12 {
  margin-top: 250px;
}
.home-hero .hero-unit-container .row .span12 .hero-word {
  font-size: 80px;
  color: #ecf0f1;
}
.home-hero .hero-unit-container .row .span12 .hero-word span {
  letter-spacing: 12px;
  display: block;
}
.home-hero .hero-unit-container .row .span12 .hero-help {
  margin-left: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #bdc3c7;
}
#feature-intro {
  background-color: #ecf0f1;
  min-height: 700px;
}
#feature-intro #time-line {
  position: relative;
  background-color: white;
  margin-top: -15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#feature-intro #time-line .v-line {
  margin-top: 20px;
  margin-left: 40px;
  border-left: 2px solid #bdc3c7;
}
#feature-intro #time-line .v-line .time-line-item {
  margin-left: -20px;
  margin-bottom: 40px;
}
#feature-intro #time-line .v-line .time-line-item .left-icon {
  background-color: white;
  color: #16A085;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 8px 4px 3px 8px;
  border: 2px solid #95A5A6;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#feature-intro #time-line .v-line .time-line-item .left-icon span {
  padding-left: 2px;
}
#feature-intro #time-line .v-line .time-line-item .titles {
  font-size: 16px;
  margin-left: 5px;
}
#feature-intro .all-features .feature-item {
  display: none;
  margin-top: 30px;
  margin-bottom: 70px;
  padding-left: 20px;
  border-left: 10px solid #16a085;
  min-height: 130px;
}
#feature-intro .all-features .feature-item h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
#feature-intro .all-features .feature-item p {
  font-size: 20px;
}
#feature-intro .all-features .feature-item small {
  font-size: 18px;
  padding-right: 120px;
  display: block;
  float: right;
}
