@import "css3";

@TURQUOISE: #1ABC9C;
@GREENSEA: #16A085;
@EMERLAND: #2ECC71;
@NEPHRITIS: #27AE60;
@PETERRIVER: #3498DB;
@BELIZEHOLE: #2980B9;
@AMETHYST: #9B59B6;
@WISTERIA: #8E44AD;
@WETASPHALT: #34495E;
@MIDNIGHTBLUE: #2C3E50;

@SUNFLOWER: #F1C40F;
@ORANGE: #F39C12;
@CARROT: #E67E22;
@PUMPKIN: #D35400;
@ALIZARIN: #E74C3C;
@POMEGRANATE: #C0392B;
@CLOUDS: #ECF0F1;
@SILVER: #BDC3C7;
@CONCRETE: #95A5A6;
@ASBESTOS: #7F8C8D;

body {
  letter-spacing: 1px;
  background-color: @CLOUDS;
  h1, h2, h3, h4, h5 {
    font-weight: normal;
  }
}
.nice-hr {
  border-top: 1px solid #BEC0C3;
  border-bottom: 2px solid #FFF;
  clear: both;
}

.home-hero {
  .header-container {
    height: 54px;
    h1{
      padding-top: 50px;
      padding-bottom: 20px;
      margin-top: -40px;
      width: 140px;
      text-align: center;
      background-color: @WETASPHALT;
      color: @CLOUDS;
      .border-radius(20px)
    }
    .span9 {
      nav{
        float: right;
        a {
          margin-left: 20px;
          margin-right: 10px;
          font-size: 16px;
          color: @CLOUDS;
          text-decoration: none;
        }
      }
    }
  }
  position: relative;
  height: 100%;
  background-image: url(/static/images/qwz.jpg);
  background-position: center center;
  background-size: cover;
  .hero-unit-container {
    position: relative;
    .row{
      .span12 {
        margin-top: 250px;
        .hero-word{
          font-size: 80px;
          color: @CLOUDS;
          span {
            letter-spacing: 12px;
            display: block;
          }
        }
        .hero-help{
          margin-left: 10px;
          text-decoration: none;
          letter-spacing: 1px;
          color: @SILVER;
        }
      }
    }
  }
}
#feature-intro{
  background-color: @CLOUDS;
  .feature-intro-word{
    margin: 60px auto;
    margin-bottom: 0;
    text-align: center;
    h1 {
      color: @MIDNIGHTBLUE;
    }
    p {
      color: @WETASPHALT;
    }
  }
  #time-line{
    position: relative;
    margin-left: 575px;;
    margin-top: -730px;
    .border-radius(20px);
    .v-line{
      margin-top: 20px;
      margin-left: 40px;
      border-left: 4px solid @GREENSEA;
      .time-line-item {
        margin-left: -30px;
        margin-bottom: 65px;
        .left-icon {
          //background-color: @CLOUDS;
          background-color: white;
          color: @GREENSEA;
          display: inline-block;
          width: 40px;
          height: 40px;
          padding: 10px 3px 1px 8px;
          border: 2px solid #95A5A6;
          .border-radius(30px);
          span {
            font-size: 26px;
            padding-left: 5px;
            margin-top: 10px;
          }
        }
        .titles {
          font-size: 16px;
          margin-left: 5px;
        }
      }
      .time-line-item.left-one{
        .titles{
          text-align: right;
          margin-left: -370px;
          width: 300px;
          display: inline-block;
        }
      }
      .time-line-item.first-item{
        height: 50px;
        .left-icon{
          display: none;
        }
      }
    }
  }
  .nice-hr {
    margin-top: 50px;
  }
}


.all-features {
  .feature-item{
    //display: none;
    padding: 5px 0 20px 0px;
    background-color: white;
    margin-top: 150px;
    margin-bottom: 0px;
    min-height: 130px;
    .border-radius(10px);
    .feature-avatar {
      margin-left: 50px;
      border: 3px solid @SILVER;
      margin-top: -40px;
      width: 50px;
      .border-radius(100px);
    }
    blockquote{
      //padding-left: 0;
      margin-left: 0;
      border-left: 0;
      display: inline-block;
    }
    h2 {
      padding-left: 50px;
      margin-bottom: 20px;
      border-bottom: 1px solid @SILVER;
      small{
        padding-top: 10px;
        padding-bottom: 20px;
        display:block;
      }
    }
    p {
      font-size: 14px;
      //padding-left: 30px;
    }
    small{
      //font-size: 18px;
      //padding-right: 120px;
      //display: block;
      //float: right;
    }
  }
}

.info-item{
  position: relative;
  width: 160px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  .info-pic{
    img{
      width: 150px;
      height: 220px;
      margin-top: 5px;
      margin-left: 5px;
    }
  }
  .info-border{
    position: absolute;
    width: 150px;
    height: 220px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px;
    .border-radius(5px);
    z-index: -10;
  }
  .info-details{
    margin: 10px 5px;
    .info-title{
      color: @WETASPHALT;
      text-decoration: none;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      width: 120px;
      white-space: nowrap;
    }
    .info-average{
      color: @EMERLAND;
      text-decoration: none;
    }
  }
}

#info-view{
  margin-top: 50px;
  .info-pic{
    max-width: 90%;
    background-color: #ffffff;
    border: 10px solid white;
    .border-radius(10px);
  }
  .douban-link{
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    float: right;
    span{
      color: @ALIZARIN;
    }
  }
  .btns {
    margin-top: 30px;
    margin-bottom: 30px;
    .btn-add{

    }
    .btn-douban{
      margin-left: 50px;
    }
  }
  p.summary {
    text-indent: 30px;
    line-height: 22px;
    background-color: white;
    padding: 10px;
    .border-radius(10px)
  }
  h3{
    text-align: center;
  }
  .tags{
    .btn-add-list{
      margin-top: 20px;
    }
    .tagsinput{
      h4{
        margin-bottom: 20px;
      }
      padding: 10px;
      margin-top: 40px;
      height: auto;
      .tag.disabled{
        background-color: @SILVER;
      }
    }
  }
}

.login-screen{
  margin-top: 50px;
  padding: 20px;
  .login-ask{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
    letter-spacing: 2px;
  }
  .login-form-new{
    background-color: #ECEFF1;
    border-radius: 6px;
    padding: 24px 23px 20px;
    h4{
      margin-bottom: 20px;
    }
    .login-field{
      display: block;
      width: 100%;
      text-indent: 10px;
      padding-right: 0;
      padding-left: 0;
    }
    .checkbox{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .login-intro{
    .xingqiniang-img{
      margin-left: auto;
      margin-right: auto;
      width: 215px;
    }
    h2{
      text-align: center;
      letter-spacing: 3px;
    }
  }
}
.footer-container{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @WETASPHALT;
  footer.container{
    background-color: @WETASPHALT;
    color: #bdc1c5;
    small{
      a{
        text-decoration: none;
      }
      span{
        color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

  // 水平状态的手机及以下
  @media (max-width: 480px) {
  }

  // 界于水平手机与竖直平板之间
  @media (max-width: 768px) {
  }

  // 界于竖直平板与水平平板/桌面之间
  @media (min-width: 768px) and (max-width: 980px) {
    .home-hero{
      .hero-unit-container{
        .row{
          .span12{
            .hero-word{
              font-size: 60px;
            }
          }
        }
      }
    }
    #feature-intro{
      #time-line {
        margin-left: 355px;
      }
    }
    .all-features {
      .feature-item{
        h2{
          padding-left: 15px;
        }
        .feature-avatar{
          display: none;
        }
        blockquote {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 980px) and (max-width: 1200px) {
    #feature-intro{
      #time-line {
        margin-left: 452px;
      }
    }
    .all-features {
      .feature-item{
        h2{
          padding-left: 25px;
        }
        .feature-avatar{
          margin-left: 20px;
        }
      }
    }
  }
  // 宽桌面
  @media (min-width: 1200px) {

  }