@import "css3";

@TURQUOISE: #1ABC9C;
@GREENSEA: #16A085;
@EMERLAND: #2ECC71;
@NEPHRITIS: #27AE60;
@PETERRIVER: #3498DB;
@BELIZEHOLE: #2980B9;
@AMETHYST: #9B59B6;
@WISTERIA: #8E44AD;
@WETASPHALT: #34495E;
@MIDNIGHTBLUE: #2C3E50;

@SUNFLOWER: #F1C40F;
@ORANGE: #F39C12;
@CARROT: #E67E22;
@PUMPKIN: #D35400;
@ALIZARIN: #E74C3C;
@POMEGRANATE: #C0392B;
@CLOUDS: #ECF0F1;
@SILVER: #BDC3C7;
@CONCRETE: #95A5A6;
@ASBESTOS: #7F8C8D;

body {
  letter-spacing: 1px;
  background-color: @CLOUDS;
}

.home-hero {
  .header-container {
    height: 54px;
    h1{
      padding-top: 50px;
      padding-bottom: 20px;
      margin-top: -40px;
      width: 140px;
      text-align: center;
      background-color: @WETASPHALT;
      color: @CLOUDS;
      .border-radius(20px)
    }
    .span9 {
      nav{
        float: right;
        a {
          margin-left: 20px;
          margin-right: 10px;
          font-size: 16px;
          color: @CLOUDS;
          text-decoration: none;
        }
      }
    }
  }
  position: relative;
  height: 100%;
  background-image: url(/static/images/qwz.jpg);
  background-position: center center;
  background-size: cover;
  .hero-unit-container {
    position: relative;
    .row{
      .span12 {
        margin-top: 250px;
        .hero-word{
          font-size: 80px;
          color: @CLOUDS;
          span {
            letter-spacing: 12px;
            display: block;
          }
        }
        .hero-help{
          margin-left: 10px;
          text-decoration: none;
          letter-spacing: 1px;
          color: @SILVER;
        }
      }
    }
  }
}
#feature-intro{
  background-color: @CLOUDS;
  min-height: 700px;
  #time-line{
    position: relative;
    background-color: white;
    //background-color: rgba(255, 255, 255, 0.8);
    margin-top: -15px;
    .border-radius(20px);
    .v-line{
      margin-top: 20px;
      margin-left: 40px;
      border-left: 2px solid @SILVER;
      .time-line-item {
        margin-left: -20px;
        margin-bottom: 40px;
        .left-icon {
          //background-color: @CLOUDS;
          background-color: white;
          color: #16A085;
          display: inline-block;
          width: 22px;
          height: 22px;
          padding: 8px 4px 3px 8px;
          border: 2px solid #95A5A6;
          .border-radius(30px);
          span {
            padding-left: 2px;
          }
        }
        .titles {
          font-size: 16px;
          margin-left: 5px;
        }
      }
    }
  }

  .all-features {
    .feature-item{
      //width: 60px;
      display: none;
      margin-top: 30px;
      margin-bottom: 70px;
      padding-left: 20px;
      border-left: 10px solid @GREENSEA;
      min-height: 130px;
      h1 {
        font-size: 40px;
        margin-bottom: 30px;
      }
      p {
        font-size: 20px;
        //padding-left: 30px;
      }
      small{
        font-size: 18px;
        padding-right: 120px;
        display: block;
        float: right;
      }
    }
  }

}
