html {
  height: 100%;
}
body {
  height: 100%;
  letter-spacing: 1px;
  background-color: #ecf0f1;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
.nice-hr {
  border-top: 1px solid #BEC0C3;
  border-bottom: 2px solid #FFF;
  clear: both;
}
.header-container {
  background-color: #ffffff;
  height: 54px;
}
.header-container #logo :hover {
  color: #1abc9c;
}
.header-container #logo h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: -51px;
  width: 140px;
  text-align: center;
  background-color: none;
  color: #16a085;
  text-decoration: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.header-container .span9 nav {
  float: right;
}
.header-container .span9 nav a {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 16px;
  color: #16a085;
  text-decoration: none;
}
.header-container .span9 nav a :hover {
  color: #1abc9c;
}
.home-hero {
  position: relative;
  height: 100%;
  background-image: url(/static/images/qwz.jpg);
  background-position: center center;
  background-size: cover;
}
.home-hero .header-container {
  background: none;
}
.home-hero .header-container #logo h1 {
  margin-top: -40px;
  background-color: #34495e;
  color: #ecf0f1;
}
.home-hero .header-container .span9 a {
  color: #ecf0f1;
}
.home-hero .header-container .span9 a :hover {
  color: #1abc9c;
}
.home-hero .hero-unit-container {
  position: relative;
}
.home-hero .hero-unit-container .row .span12 {
  margin-top: 250px;
}
.home-hero .hero-unit-container .row .span12 .hero-word {
  font-size: 80px;
  color: #ecf0f1;
}
.home-hero .hero-unit-container .row .span12 .hero-word span {
  letter-spacing: 12px;
  display: block;
}
.home-hero .hero-unit-container .row .span12 .hero-help {
  margin-left: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #bdc3c7;
}
.index-upper-login,
.index-upper-reg {
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 200;
}
.feature-intro-word {
  margin: 60px auto;
  margin-bottom: 0;
  text-align: center;
}
.feature-intro-word h1 {
  color: #2c3e50;
}
.feature-intro-word p {
  color: #34495e;
}
#feature-intro {
  background-color: #ecf0f1;
}
#feature-intro #time-line {
  position: relative;
  margin-left: 575px;
  margin-top: -730px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#feature-intro #time-line .v-line {
  margin-top: 20px;
  margin-left: 40px;
  border-left: 4px solid #16a085;
}
#feature-intro #time-line .v-line .time-line-item {
  margin-left: -30px;
  margin-bottom: 65px;
}
#feature-intro #time-line .v-line .time-line-item .left-icon {
  background-color: white;
  color: #16a085;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px 3px 1px 8px;
  border: 2px solid #95A5A6;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#feature-intro #time-line .v-line .time-line-item .left-icon span {
  font-size: 26px;
  padding-left: 5px;
  margin-top: 10px;
}
#feature-intro #time-line .v-line .time-line-item .titles {
  font-size: 16px;
  margin-left: 5px;
}
#feature-intro #time-line .v-line .time-line-item.left-one .titles {
  text-align: right;
  margin-left: -370px;
  width: 300px;
  display: inline-block;
}
#feature-intro #time-line .v-line .time-line-item.first-item {
  height: 50px;
}
#feature-intro #time-line .v-line .time-line-item.first-item .left-icon {
  display: none;
}
.all-features .feature-item {
  padding: 5px 0 20px 0px;
  background-color: white;
  margin-top: 150px;
  margin-bottom: 0px;
  min-height: 130px;
  box-shadow: 2px 2px 5px #7f8c8d;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.all-features .feature-item .feature-avatar {
  margin-left: 50px;
  border: 3px solid #bdc3c7;
  margin-top: -40px;
  width: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.all-features .feature-item blockquote {
  margin-left: 0;
  border-left: 0;
  display: inline-block;
}
.all-features .feature-item h2 {
  padding-left: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bdc3c7;
}
.all-features .feature-item h2 small {
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
}
.all-features .feature-item p {
  font-size: 14px;
}
.info-item {
  position: relative;
  width: 160px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.info-item .info-pic img {
  width: 150px;
  height: 220px;
  margin-top: 5px;
  margin-left: 5px;
}
.info-item .info-border {
  position: absolute;
  width: 150px;
  height: 220px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  z-index: -10;
}
.info-item .info-details {
  margin: 10px 5px;
}
.info-item .info-details .info-title {
  color: #34495e;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.info-item .info-average {
  margin-right: -10px;
  margin-top: -10px;
  position: absolute;
  right: 0;
  color: white;
  text-decoration: none;
  background-color: #27ae60;
  padding: 13px 10px ;
  border-radius: 30px;
}
#info-view {
  margin-top: 50px;
}
#info-view .info-pic {
  max-width: 90%;
  background-color: #ffffff;
  border: 10px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#info-view .douban-link {
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  float: right;
}
#info-view .douban-link span {
  color: #e74c3c;
}
#info-view .btns {
  margin-top: 30px;
  margin-bottom: 30px;
}
#info-view .btns .btn-douban {
  margin-left: 50px;
}
#info-view p.summary {
  text-indent: 30px;
  line-height: 22px;
  background-color: white;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#info-view h2.mid {
  text-align: center;
}
#info-view .tags .btn-add-list {
  margin-top: 20px;
}
#info-view .tags .tagsinput {
  padding: 10px;
  margin-top: 40px;
  height: auto;
}
#info-view .tags .tagsinput h4 {
  margin-bottom: 20px;
}
#info-view .tags .tagsinput .tag.disabled {
  background-color: #bdc3c7;
}
#info-view .complex-selector {
  margin-bottom: 50px;
  margin-top: 50px;
}
#info-view .complex-selector .add-select.dk_container {
  margin-top: 20px;
}
#info-view .complex-selector .add-select.dk_container .dk_options {
  width: auto;
}
#info-view .complex-selector .add-select.dk_container .dk_options :before {
  left: 15px;
}
.login-form-new {
  background-color: white;
  border-radius: 6px;
  padding: 24px 23px 20px;
  box-shadow: 2px 2px 5px #7f8c8d;
}
.login-form-new h4 {
  margin-bottom: 20px;
}
.login-form-new .login-field {
  display: block;
  width: 100%;
  text-indent: 10px;
  padding-right: 0;
  padding-left: 0;
}
.login-form-new .checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-screen {
  margin-top: 50px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
}
.login-screen .login-ask {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
  letter-spacing: 2px;
}
.login-screen .login-intro .xingqiniang-img {
  margin-left: auto;
  margin-right: auto;
  width: 215px;
}
.login-screen .login-intro h2 {
  text-align: center;
  letter-spacing: 3px;
}
.footer-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #34495e;
}
.footer-container footer.container {
  background-color: #34495e;
  color: #bdc1c5;
}
.footer-container footer.container small a {
  text-decoration: none;
}
.footer-container footer.container small span {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.list_prefer {
  min-height: 100%;
  margin-top: 100px;
}
.list_prefer .tagsinput .tagsinput-remove-link {
  padding: 7px 4px 3px 0;
}
.list_prefer .ui-state-highlight {
  height: 32px;
  width: 60%;
  border: 1px solid #f39c12;
  margin-bottom: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
@media (max-width: 480px) {
  
}
@media (max-width: 768px) {
  
}
@media (min-width: 768px) and (max-width: 980px) {
  .home-hero .hero-unit-container .row .span12 .hero-word {
    font-size: 60px;
  }
  #feature-intro #time-line {
    margin-left: 355px;
  }
  .all-features .feature-item h2 {
    padding-left: 15px;
  }
  .all-features .feature-item .feature-avatar {
    display: none;
  }
  .all-features .feature-item blockquote {
    margin-bottom: 0;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  #feature-intro #time-line {
    margin-left: 452px;
  }
  .all-features .feature-item h2 {
    padding-left: 25px;
  }
  .all-features .feature-item .feature-avatar {
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  
}
