{% load staticfiles %}
{% include 'front_end/page_start.html' %}
{% block home-hero %}
<div class="home-hero clearfix">
    <div class="header-container clearfix">
        <div class="container">
            <header class="wrapper clearfix">
                <div class="row">
                    {% block logo %}
                    <div id="logo" class="span3"><h1>星祈娘</h1></div>
                    {% endblock logo %}
                    <div style="margin-top: 8px;" class="span9">
                        {% block nav %}
                        <nav>
                            <a href="#">我的列表</a>
                            <a href="#">动画</a>
                            <a href="#">番剧</a>
                            <a href="#">|</a>
                            <a href="#">注册</a>
                            <a href="#">登录</a>
                        </nav>
                        {% endblock nav %}
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="hero-unit-container container">
        <div class="main wrapper clearfix">
            <div class="row ">
                <div class="span12">
                    <span class="hero-word"><span>让我来，</span><span>这一切都会下载好的。</span></span>
                    <a class="btn btn-large btn-primary">注册星祈娘</a> <a class="hero-help" href="#">免费服务，实在太不甘心了。</a>
                </div>
            </div>
        </div><!-- #main -->
    </div> <!-- .hero-unit -->
</div>
{% endblock home-hero %}

{% block feature-intro %}
<div id="feature-intro">
    <div class="feature-intro-word container">
        <h1>自动下载你在追的剧集</h1>
        <p>每周四早上下载好中二病，每周五下午下载好生活大爆炸</p>
        <hr class="nice-hr hide">
    </div>
    <div class="container">
        <div class="all-features">
            <div class="row">
                <div class="span4">
                    <div class="feature-item feature-item-1">
                        <h2>自动下载<small>支持磁力链接和迅雷</small></h2>
                        <img class="feature-avatar" src="{% static "images/avatar1.gif" %}" >
                        <blockquote class="">
                            <p>生活大爆炸一更新，<br>我的电脑就自动开始下载了。</p>
                            <small> 秋肉</small>
                        </blockquote>
                    </div>
                </div>
                <div class="offset4 span4">
                    <div class="feature-item feature-item-2">
                        <h2>淘新番<small>点击评分进入豆瓣页面</small></h2>
                        <img class="feature-avatar" src="{% static "images/avatar2.gif" %}" >
                        <blockquote class="">
                            <p>当我不知道想看什么，<br>就先到星祈娘逛逛。</p>
                            <small> 彤呆</small>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <div class="feature-item feature-item-3">
                        <h2>通知推送<small>邮件推送磁力链接</small></h2>
                        <img class="feature-avatar" src="{% static "images/avatar3.gif" %}" >
                        <blockquote class="">
                            <p>我收到一个邮件，<br>知道我一回家就有银魂看了。</p>
                            <small> X葱</small>
                        </blockquote>
                    </div>
                </div>
                <div class="offset4 span4">
                    <div class="feature-item feature-item-3">
                        <h2>站娘订阅<small>微博@星祈娘订阅新番</small></h2>
                        <img class="feature-avatar" src="{% static "images/avatar4.gif" %}" >
                        <blockquote class="">
                            <p>我是星祈娘，<br>我为嘛排到最后面了。</p>
                            <small> 星祈娘</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="time-line" class="offset6 span6">
                <div class="v-line">
                    <div class="time-line-item first-item">
                        <span class="left-icon"><span class="fui-eye-24"></span></span>
                        <span class="titles"></span>
                    </div>
                    <div class="time-line-item right-one">
                        <span class="left-icon"><span class="fui-man-24"></span></span>
                        <span class="titles">注册星祈娘</span>
                    </div>
                    <div class="time-line-item left-one">
                        <span class="left-icon"><span class="fui-heart-24"></span></span>
                        <span class="titles">添加喜爱的番剧</span>
                    </div>
                    <div class="time-line-item right-one">
                        <span class="left-icon"><span class="fui-calendar-24"></span></span>
                        <span class="titles">等待下一集更新</span>
                    </div>
                    <div class="time-line-item left-one">
                        <span class="left-icon"><span class="fui-volume-24"></span></span>
                        <span class="titles">更新啦</span>
                    </div>
                    <div class="time-line-item right-one">
                        <span class="left-icon"><span class="fui-mail-24"></span></span>
                        <span class="titles">收到通知</span>
                    </div>
                    <div class="time-line-item left-one">
                        <span class="left-icon"><span class="fui-checkmark-24"></span></span>
                        <span class="titles">自动下载/迅雷离线</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="nice-hr">
    </div>
</div>
{% endblock feature-intro %}

<div id="info_intro">
    <div class="container">
    <div class="row">
        {% for info in info_list %}
            <div class="span3">
                <div class="info-item">
                    <div class="info-border"> </div>
                    <div class="info-pic">
                        <a href="#"><img src="{{ info.douban.images }}" ></a>
                    </div>
                    <div class="info-details">
                        <a href="#" class="info-title">{{ info.title }}</a>
                        <a target="_blank" href="{{ info.douban.alt }}" class="info-average">{{ info.douban.average }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
</div>
{% block footer-container %}
<div class="footer-container">
    <footer class="wrapper">
        <h3></h3>
    </footer>
</div>
{% endblock footer-container %}
{% include 'front_end/page_end.html' %}
