{% load staticfiles %}
{% include 'front_end/page_start.html' %}
{% block home-hero %}
<div class="home-hero clearfix">
{% include 'front_end/nav.html' %}
    <div class="hero-unit-container container">
        <div class="main wrapper clearfix">
            <div class="row ">
                <div class="span12">
                    <span class="hero-word"><span>让我来，</span><span>这一切都会下载好的。</span></span>
                    <a class="btn btn-large btn-primary btn-reg-top">注册星祈娘</a> <a class="hero-help" href="#">免费服务，往下拉看看？</a>
                </div>
            </div>
        </div><!-- #main -->
        <div class="span3 index-upper-login">
            {% include 'front_end/login_form.html' with login_id="top" %}
        </div>
    </div> <!-- .hero-unit -->
</div>
{% endblock home-hero %}

{% block feature-intro %}
<div id="feature-intro">
    <div class="feature-intro-word container">
        <h1>自动下载你在追的剧集</h1>
        <p>每周四早上下载好中二病，每周五下午下载好生活大爆炸</p>
        <hr class="nice-hr hide">
    </div>
    <div class="container">
        <div class="all-features">
            <div class="row">
                <div class="span4">
                    <div class="feature-item feature-item-1">
                        <h2>自动下载<small>支持磁力链接和迅雷</small></h2>
                        <img class="feature-avatar" src="{% static "images/avatar1.gif" %}" >
                        <blockquote class="">
                            <p>生活大爆炸一更新，<br>我的电脑就自动开始下载了。</p>
                            <small> 秋肉</small>
                        </blockquote>
                    </div>
                </div>
                <div class="offset4 span4">
                    <div class="feature-item feature-item-2">
                        <h2>淘新番<small>点击评分进入豆瓣页面</small></h2>
                        <img class="feature-avatar" src="{% static "images/avatar2.gif" %}" >
                        <blockquote class="">
                            <p>当我不知道想看什么，<br>就先到星祈娘逛逛。</p>
                            <small> 彤呆</small>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <div class="feature-item feature-item-3">
                        <h2>通知推送<small>邮件推送磁力链接</small></h2>
                        <img class="feature-avatar" src="{% static "images/avatar3.gif" %}" >
                        <blockquote class="">
                            <p>我收到一个邮件，<br>知道我一回家就有银魂看了。</p>
                            <small> X葱</small>
                        </blockquote>
                    </div>
                </div>
                <div class="offset4 span4">
                    <div class="feature-item feature-item-3">
                        <h2>站娘订阅<small>微博@星祈娘订阅新番</small></h2>
                        <img class="feature-avatar" src="{% static "images/avatar4.gif" %}" >
                        <blockquote class="">
                            <p>我是星祈娘，<br>我为嘛排到最后面了。</p>
                            <small> 星祈娘</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="time-line" class="offset6 span6">
                <div class="v-line">
                    <div class="time-line-item first-item">
                        <span class="left-icon"><span class="fui-eye-24"></span></span>
                        <span class="titles"></span>
                    </div>
                    <div class="time-line-item right-one">
                        <span class="left-icon"><span class="fui-man-24"></span></span>
                        <span class="titles">注册星祈娘</span>
                    </div>
                    <div class="time-line-item left-one">
                        <span class="left-icon"><span class="fui-heart-24"></span></span>
                        <span class="titles">添加喜爱的番剧</span>
                    </div>
                    <div class="time-line-item right-one">
                        <span class="left-icon"><span class="fui-calendar-24"></span></span>
                        <span class="titles">等待下一集更新</span>
                    </div>
                    <div class="time-line-item left-one">
                        <span class="left-icon"><span class="fui-volume-24"></span></span>
                        <span class="titles">更新啦</span>
                    </div>
                    <div class="time-line-item right-one">
                        <span class="left-icon"><span class="fui-mail-24"></span></span>
                        <span class="titles">收到通知</span>
                    </div>
                    <div class="time-line-item left-one">
                        <span class="left-icon"><span class="fui-checkmark-24"></span></span>
                        <span class="titles">自动下载/迅雷离线</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock feature-intro %}
<div class="hide feature-intro-word">
    <h1>热门动画</h1>
</div>
<div class="hide" id="info_intro">
    <div class="container">
        <div class="row">
            {% for info in info_list_AN %}
                <div class="span3">
                    {% include 'front_end/info_item.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="feature-intro-word hide">
    <h1>热门番剧</h1>
</div>
<div class="hide" id="info_intro">
    <div class="container">
        <div class="row">
            {% for info in info_list_EP %}
                <div class="span3">
                    {% include 'front_end/info_item.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="login-screen" style="position: relative" class="login-screen">
    <div class="container">
        <h1 class="login-ask">那么，要登录还是要注册？</h1>
        <div class="row">
            <div class="span3">
                {% include 'front_end/login_form.html' with login_id="bottom" %}
            </div>
            <div class="login-intro span6">
                <div class="xingqiniang-img">
                    <img src="{% static "images/xqn.png" %}">
                </div>
            </div>
            <div class="span3">
                <form action="/reg" method="post" class="login-form-new">
                    <h4>欢迎新同学</h4>
                    <div class="control-group">
                        <input name="email" type="email" class="login-field" value="" placeholder="Email" id="login-email">
                    </div>
                    <div class="control-group">
                        <input name="username" type="text" class="login-field" value="" placeholder="用户名" id="login-name">
                    </div>
                    <div class="control-group">
                        <input name="password" type="password" class="login-field" value="" placeholder="密码" id="login-pass">
                    </div>
                    <label class="checkbox" for="show-password"><span class="icon"></span><span class="icon-to-fade"></span>
                        <input type="checkbox" value="" id="show-password">
                        显示密码
                    </label>
                    <a class="btn btn-primary btn-large btn-block" href="#">注册</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'front_end/page_end.html' %}
