<div class="header-container clearfix">
    <div class="container">
        <header class="wrapper clearfix">
            <div class="row">
                {% block logo %}
                    <div id="logo" class="span3"><h1>星祈娘</h1></div>
                {% endblock logo %}
                <div style="margin-top: 8px;" class="span9">
                    {% block nav %}
                        <nav>
                            <a href="/list/an">动画</a>
                            <a href="/list/ep">剧集</a>
                            <a>|</a>
                            {% if user.is_authenticated %}
                                <a href="/user/list" > 我的列表 </a>
                                <a class="nav-login" href="#" > {{ user.username }} </a>
                            {% else %}
                                <a class="nav-login" href="#" >登录</a>
                            {% endif %}
                        </nav>
                    {% endblock nav %}
                </div>
            </div>
        </header>
    </div>
</div>
