<div class="header-container clearfix">
    <div class="container">
        <header class="wrapper clearfix">
            <div style="position: relative;" class="row">
                {% block logo %}
                    <a href="/" id="logo" class="span3"><h1>星祈娘</h1></a>
                {% endblock logo %}
                <div style="margin-top: 12px;" class="span9">
                    {% block nav %}
                        <nav>
                            <a href="/list/an">动画</a>
                            <a href="/list/ep">剧集</a>
                            <a>|</a>
                            {% if user.is_authenticated %}
                                <a href="/accounts/" > 我的订阅 </a>
                                <a class="nav-username" href="#" > {{ user.username }} </a>
                                <a class="nav-logout" href="{% url 'django.contrib.auth.views.logout' %}" > 退出 </a>
                            {% else %}
                                <a class="nav-login" href="#" >登录</a>
                                <a class="nav-reg" href="#" >注册</a>
                            {% endif %}
                        </nav>
                    {% endblock nav %}
                </div>
                <div class="span3 index-upper-login">
                    {% include 'front_end/login_form.html' with login_id="top" %}
                </div>
                <div class="span3 index-upper-reg">
                    {% include 'front_end/reg_form.html' with reg_id="top" %}
                </div>
            </div>
        </header>
    </div>
</div>
